Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel $\rightarrow$ Restart) and then **run all cells** (in the menubar, select Cell $\rightarrow$ Run All).

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE", as well as your name and collaborators below:

In [69]:
NAME = "Sriram Karthik M"
COLLABORATORS = "Guvi"

---

### ASSIGNMENT: Pandas Task
### TOTAL QUESTIONS: 15
### NOTE: Use pandas functions for all tasks. Do not change cells. Write your code only in the cells where it is marked as #YOUR CODE HERE. Start writing your code just below this line in the same cell, not in a different cell. Read the question carefully and note that the variable names to store the output or answer are already provided in some of the questions. Kindly follow that . Do not change the variable names.

### Do not add or delete cells

# Q1. Create a DataFrame named df with the following data:

| Name    | Age | City      |
| ------- | --- | --------- |
| Alice   | 25  | Delhi     |
| Bob     | 30  | Mumbai    |
| Charlie | 35  | Chennai   |
| David   | 40  | Kolkata   |
| Eva     | 45  | Bangalore |

In [70]:
# YOUR CODE HERE
import pandas as pd
Details= {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 30, 35, 40, 45],
    'City': ['Delhi', 'Mumbai', 'Chennai', 'Kolkata', 'Bangalore']
}

df = pd.DataFrame(Details)
print
#raise NotImplemented#Error()

# Q2.Display top 3 rows of df.

In [71]:
# YOUR CODE HERE
df.head(3)

      Name  Age     City
0    Alice   25    Delhi
1      Bob   30   Mumbai
2  Charlie   35  Chennai

# Q3. Add a column Salary with values [50000, 60000, 55000, 70000, 65000]

In [72]:
# YOUR CODE HERE
df['Salary'] = [50000, 60000, 55000, 70000, 65000]
print(df)
#raise NotImplementedError()

      Name  Age       City  Salary
0    Alice   25      Delhi   50000
1      Bob   30     Mumbai   60000
2  Charlie   35    Chennai   55000
3    David   40    Kolkata   70000
4      Eva   45  Bangalore   65000

# Q4. Check for null values in each column.

In [ ]:
# YOUR CODE HERE
df1=df.isnull()
#print(df1) #Check
#print(df1.sum()) 
print(df.isnull().sum()) 
#raise NotImplementedError()

Name      0
Age       0
City      0
Salary    0
dtype: int64

# Q5. Add a duplicate row and then count total duplicates and store in variable named as dup_count.

In [74]:
# YOUR CODE HERE
df = pd.concat([df, df.iloc[[0]]], ignore_index=True)
dup_count = df.duplicated(keep=False).sum()
print(dup_count)


#raise NotImplementedError()

2

# Q6. Remove duplicate rows and reset the index.

In [75]:
# YOUR CODE HERE
df = df.drop_duplicates().reset_index(drop=True)
print(df)
#raise NotImplementedError()

      Name  Age       City  Salary
0    Alice   25      Delhi   50000
1      Bob   30     Mumbai   60000
2  Charlie   35    Chennai   55000
3    David   40    Kolkata   70000
4      Eva   45  Bangalore   65000

# Q7. Show the count of unique cities. Store in variable named as unique_cities

In [76]:
# YOUR CODE HERE
unique_cities = df['City'].nunique()
print(unique_cities)
#raise NotImplementedError()

5

# Q8. Display all unique city names and store them in a variable called `city_names` .

In [77]:
# YOUR CODE HERE
city_names = df['City'].unique().tolist()
print(city_names)
#raise NotImplementedError()

['Delhi', 'Mumbai', 'Chennai', 'Kolkata', 'Bangalore']

# Q9. Sort the DataFrame by Age in descending order and store in sorted_df.

In [78]:
# YOUR CODE HERE

sorted_df = df.sort_values(by='Age', ascending=False)
print(sorted_df)
#raise NotImplementedError()

      Name  Age       City  Salary
4      Eva   45  Bangalore   65000
3    David   40    Kolkata   70000
2  Charlie   35    Chennai   55000
1      Bob   30     Mumbai   60000
0    Alice   25      Delhi   50000

# Q10. Filter all rows where Salary > 60000 and store in variable called filtered_df.

In [79]:
# YOUR CODE HERE

filtered_df = df[df['Salary'] > 60000]
print(filtered_df)
#raise NotImplementedError()

    Name  Age       City  Salary
3  David   40    Kolkata   70000
4    Eva   45  Bangalore   65000

# Q11. Get average Salary grouped by City and store in variable called avg_salary.

In [80]:
# YOUR CODE HERE
avg_salary = df.groupby('City')['Salary'].mean()
print(avg_salary)
#raise NotImplementedError()

City
Bangalore    65000.0
Chennai      55000.0
Delhi        50000.0
Kolkata      70000.0
Mumbai       60000.0
Name: Salary, dtype: float64

# Q12. Create another DataFrame dept_df and merge with df horizontally. Store it in a variable called merged_df

dept_df columns:

| Name    | Department |
| ------- | ---------- |
| Alice   | HR         |
| Bob     | IT         |
| Charlie | Finance    |
| David   | Marketing  |
| Eva     | Admin      |

In [81]:
# YOUR CODE HERE


dept_data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Department': ['HR', 'IT', 'Finance', 'Marketing', 'Admin']
}
dept_df = pd.DataFrame(dept_data)


merged_df = pd.merge(df, dept_df, on='Name')
print(merged_df)
#raise NotImplementedError()

      Name  Age       City  Salary Department
0    Alice   25      Delhi   50000         HR
1      Bob   30     Mumbai   60000         IT
2  Charlie   35    Chennai   55000    Finance
3    David   40    Kolkata   70000  Marketing
4      Eva   45  Bangalore   65000      Admin

# Q13. Concatenate two DataFrames vertically.

In [82]:
# YOUR CODE HERE
merged_df = pd.merge(df, dept_df, on='Name')
concatenated_df = pd.concat([df, merged_df], axis=0, ignore_index=True)

print(concatenated_df)

#raise NotImplementedError()

      Name  Age       City  Salary Department
0    Alice   25      Delhi   50000        NaN
1      Bob   30     Mumbai   60000        NaN
2  Charlie   35    Chennai   55000        NaN
3    David   40    Kolkata   70000        NaN
4      Eva   45  Bangalore   65000        NaN
5    Alice   25      Delhi   50000         HR
6      Bob   30     Mumbai   60000         IT
7  Charlie   35    Chennai   55000    Finance
8    David   40    Kolkata   70000  Marketing
9      Eva   45  Bangalore   65000      Admin

# Q14. Replace any missing Age values with the mean of the column.

In [83]:
# YOUR CODE HERE
mean_age = concatenated_df['Age'].mean()
concatenated_df['Age'].fillna(value=mean_age, inplace=True)

print(concatenated_df)
#raise NotImplementedError()

      Name  Age       City  Salary Department
0    Alice   25      Delhi   50000        NaN
1      Bob   30     Mumbai   60000        NaN
2  Charlie   35    Chennai   55000        NaN
3    David   40    Kolkata   70000        NaN
4      Eva   45  Bangalore   65000        NaN
5    Alice   25      Delhi   50000         HR
6      Bob   30     Mumbai   60000         IT
7  Charlie   35    Chennai   55000    Finance
8    David   40    Kolkata   70000  Marketing
9      Eva   45  Bangalore   65000      Admin

# Q15. Rename the column Salary to Income in the DataFrame df.

In [84]:
# YOUR CODE HERE
df.rename(columns={'Salary': 'Income'}, inplace=True)
print(df)
#raise NotImplementedError()

      Name  Age       City  Income
0    Alice   25      Delhi   50000
1      Bob   30     Mumbai   60000
2  Charlie   35    Chennai   55000
3    David   40    Kolkata   70000
4      Eva   45  Bangalore   65000